@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,400&family=Quicksand:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
.header {
  @apply flex items-center justify-between w-full top-0 z-10 h-[5.4rem] p-[3.2rem];
}
.navlinks {
  @apply text-2xl font-semibold text-blue-600 mx-[0.8rem] px-[0.8rem] py-[0.4rem] 
    bg-transparent hover:bg-[#181b21] 
    hover:bg-opacity-10 transition-all duration-300;
}
.car_section {
  @apply w-full h-screen;
}
.car_img {
  @apply w-full h-full object-cover;
}
.car_details {
  @apply absolute top-[20%] left-[50%] text-center;
}
.transfer_50 {
  transform: translate(-50%, -50%);
}
.model_name {
  @apply text-[4rem] text-[#393c41] font-semibold;
}
.tag_line {
  @apply text-2xl font-semibold text-red-950;
}
.car_buttons {
  @apply absolute top-[95%] left-[50%];
}
.btn {
  @apply text-2xl text-white bg-[#171a20] font-medium uppercase my-2 py-[0.4rem] 
  px-[2.4rem] rounded-[2.3rem] w-[25.5rem] h-16 bg-opacity-80;
}
.inventory {
  @apply text-purple-900 bg-white bg-opacity-60 font-semibold;
}
.down_svg {
  @apply block w-full h-20 mx-auto absolute top-[100%] animate-bounce ;
}
.input_css{
  @apply border-2 border-gray-400 border-solid ml-[42%] mt-[2rem]
}
.parent_css{
  @apply border-4 border-solid border-indigo-900 h-96 w-80 flex justify-center ml-[40%] mt-[5rem]
}
